.footer {
  text-align: center;
  margin-bottom: 60px;
  @include desktop {
    background: url("../../picture/Vector-footer1.svg"),
      url("../../picture/Vector-footer2.svg");
    background-repeat: no-repeat;
    background-position: 9px -471%,9% -76%;
    background-size: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 90px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    @include desktop {
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 15px;
    }
  }

  &__link {
    display: none;
    @include desktop {
      display: block;
      color: var(--text-color);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 16px;
      font-weight: 700;
      transition: var(--transition-hover);

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  &__cta {
    width: 155px;
    height: 48px;
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-bottom: 100px;
    @include desktop {
      align-items: flex-start;
    }
  }

  &__list-social {
    display: flex;

    gap: 5px;
  }
  &__title {
    font-size: 16px;
    font-weight: 700;
  }

  &__copyright {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.82px;
  }
}

.logo-icon_footer {
  margin-bottom: 58px;
  @include desktop {
    width: 185px;
    height: 187px;
  }
  // margin-right: 180px;
}

.block {
  // display: none;
  @include desktop {
    // display: block;
    // flex: 1;
    // height: 100px;
    // position: relative;
  }
}

// .block:not(:first-child)::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: -107px;
//     width: 6px;
//     height: 177px;
//     background: linear-gradient(to bottom, rgba(129, 118, 175, 0.1) 0%, #8176AF 50%, rgba(129, 118, 175, 0.1) 100%);
// }
