.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 60px;

    &__logo-links{
        display: flex;
        align-items: center;
        
    }

    &__nav{
        display: none;
        @include desktop{
            margin: 0 auto;
            display: flex;
            gap: 41px;
            }
    }

    &__link{
        color: var(--text-color);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 12px;
        font-weight: 700;
        transition: var(--transition-hover);
        &:hover{
            color: var(--accent-color);
        }
        
    }

    &__secondary-nav{
        display: none;
        @include desktop{
            display: flex;
            margin-left: auto;
            gap: 38px;
            }
    }


}
.icon-Hamburger-Button {
    fill: #C0B7E8; 
  }

.logo-icon{
    width: 70px;
    height: 60px;
    @include desktop{
        width: 102px;
        height: 103px;
    }
}

.hydra-icon{
    width: 46px;
    height: 28px;
    @include desktop{
        width: 76px;
        height: 46px;
    }
}

.icon-burger{
    @include desktop{
        display: none;
        }
}

.menu__secondary-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 48px;
    border-radius: 40px;
    border: 2px solid #FFF;
    transition: var(--transition-hover);


    color: var(--text-color);
    
    font-size: 12px;
    font-weight: 700;
    &:hover{
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

