.hero{
    margin-bottom: 60px;
    @include desktop{
    margin-bottom: 90px;
    }
    &-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 112px;
            margin-bottom: 157px;
        }
    }
}



.hero-content-box {
    margin-bottom: 36px;

    @include desktop {
        max-width: 510px;
    }
}

.hero-title {
    margin-bottom: 36px;
    max-width: 303px;

    font-size: 24px;
    font-weight: 700;

    @include desktop {
        max-width: 100%;
        font-size: 46px;
    }
}

.gradient-word {
    font-size: 36px;
    background: linear-gradient(156deg, #C0B7E8 0%, #8176AF 100%);
    background-clip: text;
    color: transparent;

    @include desktop {
        font-size: 46px;
    }
}

.hero-description {
    display: none;

    @include desktop {
        display: block;
        margin-bottom: 66px;
        width: 450px;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }

}

.hero-btn {
    width: 292px;
    @include desktop {
        width: 214px;
    }
}

.img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 18px solid rgba(0, 0, 0, 0.25);
    // width: 524px;
    border-radius: 100px 100px 100px 240px;
    // background: rgba(0, 0, 0, 0.13);
    overflow: hidden;

    @include desktop {
        margin: 0;
    }
}

.contacts-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    // max-width: 347px;
    margin: 0 auto;

   
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @include desktop {
        display: none;
    }
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.contacts {
    display: flex;
    transition: transform 0.3s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;


    border-radius: 90px;
    background: radial-gradient(2900.76% 50.13% at 50.00% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);

    @include desktop {
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-height: 167px;
    }

    &-item {
        align-items: center;
        justify-content: center;
        flex: 0 0 100%;
        display: none;
        min-height: 109px;

        &.active {
            display: flex;
        }

        @include desktop {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }
    }

    &-title {
        display: none;
        @include desktop {
            display: block;
            font-size: 24px;
            color: var(--text-color);
            font-weight: 700;
        }
    }

    &-box {
        display: flex;
        flex-direction: column;
    }

    &-info {
        color: var(--text-color);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        transition: var(--transition-hover);

        &:hover {
            color: var(--accent-color);
            border-color: var(--accent-color);
        }
    }
}