.process {
    margin-bottom: 115px;
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__titleBox{
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
    }
    &__title {
        display: flex;
        flex-direction: column;
        font-size: 36px;
        font-weight: 700;
        & span {
            font-weight: 300;
        }
    }
    &__text {
        max-width: 650px;

        font-size: 16px;
        font-weight: 400;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 198px;
        height: 198px;
        background: linear-gradient(251deg, #C0B7E8 0%, #8176AF 100%);

        color: #343045;
        font-size: 64px;
        font-weight: 700;
    }

    &__step {
        font-size: 24px;
        font-weight: 700;
    }
}
.item-border{
    overflow: hidden;
    border-radius: 50%;
    border: 18px solid rgba(0, 0, 0, 0.25);
}