:root {
    --bg-color: #302C42;
    --text-color: #FFFFFF;
    --color-button: rgba(129, 118, 175, 1);
    --first-title-color: rgba(192, 183, 232, 1);
    --accent-color: rgba(192, 183, 232, 1);
    --color-btn-text: #343045;
    
    --second-logo-color: #212121;
    

    --second-title-color: #212121;
    --btn-text-color: #212121;
    --contacts-footer-color: rgba(255, 255, 255, 0.6);
    --color-btn-menu: #f5f4fa;
    
    --transition-hover: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}